<!--Add New Category link-->
<a routerLink="/admin/categories/new" class="btn buttonCSS">New Category</a>

<br />
<br />

<!--No Categories message-->
<span class="messageLabel" *ngIf="!isAnyCategories"> No categories available </span>

<div *ngIf="isAnyCategories">

    <!--Search Categories panel-->
    <div class="searchDivCSS">
        <span class="searchLabelCSS">Search Category</span>
        <span class="filterCategoryLabelCSS">Category</span>
        <input #categoryQuery class="form-control filterCSS" 
               (keyup)="filterCategories(categoryQuery.value)" />
    </div>

    <br>
    <br>

    <span class="messageLabel" *ngIf="!isAnyFilteredCategories"> No categories matching criteria found </span>

    <!---Categories Table--->
    <table *ngIf="isAnyFilteredCategories" class="tableCSS">
        <!---column headers--->
        <thead *ngIf="categories.length > 0">
            <th>Sr. No.</th>
            <th>Name</th>
            <th>IsActive</th>
            <th>Action</th>
        </thead>

        <!---rows--->
        <tr *ngFor="let category of filteredCategories">

            <td>{{category.id}}</td>

            <td>
                <span *ngIf="!category.isEdit">{{category.name}}</span>  

                <input #name="ngModel" name="name" id="name"  class="form-control filterCSS" 
                  [(ngModel)]="category.name" *ngIf="category.isEdit"/>

                <button class="btn btn-link editButtonCSS" *ngIf="!category.isEdit" (click) = "category.isEdit = true;">
                    <span><i class="fa fa-edit fa-2x"></i></span>
                </button>

                <button class="btn btn-link editButtonCSS" *ngIf="category.isEdit" (click) = "OnUpdate(category)">
                    <span><i class="fa fa-check fa-2x"></i></span>
                </button>
            </td>

            <td>{{category.isActive ? "Yes" : "No"}}</td>

            <td>
                 <!--Deactivate Category link-->
                 <button class="btn btn-link delButtonCSS" (click)="onDeactivate(category)" *ngIf="category.isActive">
                    Deactivate
                </button>
                 <!--Activate Category link-->
                <button class="btn btn-link delButtonCSS" (click)="onActivate(category)" *ngIf="!category.isActive">
                    Activate
                </button>
            </td>

        </tr>
    </table>
</div>
<br />
<br />
<br />
<br />